
:root {
    --primary-color: #60efc3;
}

p{
    margin-bottom: 30px !important;
}
.rama {
    height: 300px;
    background: #60efc3;
}
.card {
    min-height: 550px;
}
.card-body {
    position: relative;
        padding-bottom: 50px;
}
#navBar {
    background: #84e3f2;
    position: fixed;
    width: 100%;
}

.navbar {
    margin-top: -91px;
    z-index: 1;
}

li {
    background: #f8f7f7;
    margin: 10px;
    text-align: center;
}

.navbar-brand a {
    display: flex;
    justify-content: center;
}

.navbar-collapse .collapse .show {
    border: #60efc3;
}
.navbar-toggler {
    border: 2px solid rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
}

#o {
    margin-top: 0;
}

.btn {
    
    margin: 15px;
    border: 3px solid rgb(139, 166, 239) !important;
    border-radius: 5px;
    background: #84e3f2 !important;
    box-shadow: 2px 3px 4px 0px;

}
.text-center {
    text-align: center;
}

.name {
    margin-top: 90px;
}

.pyp {
    margin: 40px;
}
.imodal {}

.imodal.open .modal-overlay,
.imodal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}

.imodal.hide .modal-overlay,
.imodal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}

.imodal.open .modal-window {
    transform: translateY(100px);
}
.imodal.open .modal-body{
    transform: scale(sx, 2);
}

.imodal.open .modal-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.imodal.hide .modal-window {
    transform: translateY(-200px);
}

.imodal.hide .modal-overlay {
    background: rgba(1, 1, 1, 0);
}

.modal-window,
.modal-overlay {
    opacity: 0;
    z-index: -1;
}

.modal-overlay {
    display: flex;
        width: 100%;
        height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .5s ease-in;
}

.modal-window {
    width: 800px;
    height: 500px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    margin: 0px auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
    overflow-y: scroll;
}
.modalImg {
   
    max-width: 100%;
    height: auto;
}

.modal-body {
    background: #fff;
    padding: 30px;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-close {
    cursor: pointer;
}

.modal-body {
    margin: 0 0 5px;
}

.modal-footer {
    padding: 5px 10px;
    border-top: 2px solid rgb(15, 15, 96);
}