
:root {
    --primary-color: #60efc3;
}

.text-center {
    text-align: center;
}

.name {
    margin-top: 20px;
}

.pyp {
    margin: 40px;
}
.imodal {}

.imodal.open .modal-overlay,
.imodal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}

.imodal.hide .modal-overlay,
.imodal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}

.imodal.open .modal-window {
    transform: translateY(100px);
}

.imodal.open .modal-overlay {
    background: rgba(41, 31, 63, 0.7);
}

.imodal.hide .modal-window {
    transform: translateY(-200px);
}

.imodal.hide .modal-overlay {
    background: rgba(41, 31, 63, 0);
}

.modal-window,
.modal-overlay {
    opacity: 0;
    z-index: -1;
}

.modal-overlay {
    display: flex;
        width: 100%;
        height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .5s ease-in;
}

.modal-window {
    width: 800px;
    height: 300px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    margin: 0px auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}

.modal-body {
    background: #fff;
    padding: 30px;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-close {
    cursor: pointer;
}

.modal-body {
    margin: 0 0 5px;
}

.modal-footer {
    padding: 5px 10px;
    border-top: 2px solid rgb(15, 15, 96);
}